@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  /* background-color: #f9f9f9; */
  font-size: 16px;
}

h1 {
  font-size: 32px;
}

button, input {
  font-size: 16px;
  font-family: 'DM Sans';
  color: #3B3B3B;
  outline: none;
}

a {
  text-decoration: none;
  color: #3B3B3B;
}

/*----------------------------------*/
/*              Botões              */
/*----------------------------------*/

button {
  cursor: pointer;
  border: none;
}

.text-btn {
  background-color: transparent;
  color: #000;
}

.text-btn.bold {
  font-weight: bold;
}

.btn-form {
  border-radius: 5px;
  padding: 12px 0px;
  background-color: #000;
  color: #fff;
}

.btn-addcontact {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 25px;
  padding: 11px 16px;
}

/*----------------------------------*/
/*              Navbar              */
/*----------------------------------*/

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  background-color: #fff;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
}

.nav-btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link-logo {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #181616;
  text-decoration: none;
}

.link-logo h1 {
  font-size: 24px;
}

.search-contacts {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #F1F3F4;
  border-radius: 5px;
  min-width: 250px; 
  height: 45px;
  padding: 0px 15px;
}

.search-contacts input {
  border: none;
}

.search-contacts span {
  color: #5f6368;
}

.search-contacts.mobile {
  display: none;
}

.search-input {
  width: 100%;
  min-height: 100%;
  background-color: transparent;
}

/*----------------------------------*/
/*              Container           */
/*----------------------------------*/
section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container, .container-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.container-row {
  flex-direction: row;
}

/*----------------------------------*/
/*              Tabela              */
/*----------------------------------*/
.table {
  width: 100%;
  border-collapse: collapse;
}

.title {
  padding-left: 16px;
}

thead {
  font-weight: normal;
  border-bottom: 1px solid  #0000001f;
}

tbody {
  vertical-align: middle;
}

th, td {
  font-weight: normal;
  text-align: left;
  padding: 16px;
  width: 33.33%;
}

td:last-child {
  display: flex;
  justify-content: space-between;
}

.contact-edit {
  visibility: hidden;
  display: flex;
  gap: 10px;
}

.contact-edit span {
  cursor: pointer;
  color: #00000051;
}

.contact-edit span:hover {
  color: #00000080;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

tbody tr:hover .contact-edit {
  visibility: visible;
}

/*--------------------------------------------*/
/*        Formulário de Login e Cadastro      */
/*--------------------------------------------*/

.login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  padding: 10px 20px 20px 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  margin: 10px 0px;
}

.form-group, .form-check {
  display: flex;
  gap: 5px;
}

.form-group {
  flex-direction: column;
}

.forgotPwd {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #0000001f;
  margin: 20px 0px;
}

.row-group {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  gap: 10px;
}

.contact {
  width: 100%;
  padding: 0px 16px;
}

.contacts {
  width: 100%;
}

.empty-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.empty-contacts img {
  width: 50%;
}

/*----------------------------------*/
/*              Alertas             */
/*----------------------------------*/

.alert {
  width: 100%;
  border-radius: 6px;
  background-color: transparent;
  border: transparent;
  padding: 1rem;
  margin: 10px 0;
}

.alert-danger {
  background-color: #f8d7da;
  color: #842029;
  border: 1px solid #f5c2c7;
}

.alert-sucess {
  background-color: #d1e7dd;
  color: #0f5132;
  border: 1px solid #badbcc;
}

/*----------------------------------*/
/*        Página de Erro 404        */
/*----------------------------------*/

.error-title {
  font-size: 92px;
  font-weight: normal;
}

.error-subtitle {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 10px;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
}

/*----------------------------------*/
/*          Responsividade          */
/*----------------------------------*/

@media screen and (min-width: 320px) and (max-width: 560px) {
  .search-contacts {
    display: none;
  }

  .search-contacts.mobile {
    display: flex;
    width: 85%;
    margin: 0 auto;
  }

  .th-email, .td-email {
    display: none;
  }
}


@media screen and (min-width: 320px) and (max-width: 700px) {
  .btn-addcontact {
    position: fixed;
    bottom: 10%;
    padding: 12px 14px;
  }

  .btn-addcontact :first-child {
    font-size: 28px;
  }

  .btn-addcontact :last-child {
    display: none;
  }
}

/*----------------------------------*/
/*      Animações das Mensagens     */
/*----------------------------------*/

.fade-in {
  animation: fadeIn 1s;
}

.fade-out {
  animation: fadeOut 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}