<nav class="navbar">
  <div class="nav-container">
    <a href="/" class="link-logo">
      <img src="./assets/img/contact-logo.png" alt="Contatos">
      Agenda
    </a>
    <div class="search-contacts">
      <span class="material-symbols-outlined">search</span>
      <input type="search" class="search-input">
    </div>
    <a href="/login">
      <button class="text-btn">Entrar</button>
    </a>
    <!-- <button class="btn-addcontact">
      <span class="material-symbols-outlined">person_add</span>
      Criar contato
    </button>
    <button class="text-btn">Sair</button> -->
  </div>
</nav>