<%- include('includes/head') %>
<%- include('includes/nav') %>

<section>
  <div class="container">
    <img src="./assets/img/erro.svg" alt="Error 404">
    <h1 class="title">404</h1>
    <h2 class="subtitle">Página não encontrada</h2>
    <p class="description">A página que você está procurando não existe.</p>
  </div>
</section>

<%- include('includes/footer') %>