<%- include('includes/head') %>
<%- include('includes/nav') %>

<section>
  <div class="container">
    <h1 class="title">Contatos</h1>
    <!-- Alertas
    <div class="alert alert-danger">Houve um erro</div>
    <div class="alert alert-sucess">Parabéns, você ativou o alerta de sucesso</div>
    <div class="alert alert-warning">Atenção! Tome muito cuidado</div> 
    -->
    <table class="table">
      <thead>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Número de telefone</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <span>Geovani Silva</span>
          </td>
          <td>
            <span>geosilvasousa@gmail.com</span>
          </td>
          <td>
            <span>+5561984950007</span>
          </td>
          <td>
            <div class="contact-edit">
              <span class="material-symbols-outlined">edit</span>
              <span class="material-symbols-outlined">delete</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<%- include('includes/footer') %>